<div class="profile-container">
  <div class="container">
    <div class="loading-container" *ngIf="isLoading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

    <div class="profile-content" *ngIf="!isLoading && user">
        <div class="profile-card">
        <div class="profile-header">
          <div class="avatar-wrapper" (click)="fileInput.click()" title="Alterar foto">
            <img *ngIf="displayedPhotoUrl" [src]="displayedPhotoUrl" alt="Avatar" class="author-avatar" />
            <div *ngIf="!displayedPhotoUrl" class="author-avatar placeholder">
              <mat-icon>account_circle</mat-icon>
            </div>
            <div class="avatar-edit"><mat-icon>photo_camera</mat-icon></div>
            <input #fileInput type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden />
          </div>
          <div class="header-text">
            <h1>{{ user.name }}</h1>
            <p>Gerencie suas informações pessoais</p>
          </div>
          <button class="password-link" mat-stroked-button color="primary" (click)="goToChangePassword()">
            <mat-icon>lock</mat-icon>
            Alterar senha
          </button>
        </div>

        <form [formGroup]="profileForm" class="inline-form">
          <div class="field-row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" placeholder="Digite seu nome">
              <mat-icon matPrefix>person</mat-icon>
              <mat-error *ngIf="profileForm.get('name')?.invalid">
                {{ getErrorMessage('name') }}
              </mat-error>
            </mat-form-field>
            <button mat-icon-button color="primary" type="button" *ngIf="!editingFields['name']" (click)="toggleEdit('name')" title="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" type="button" *ngIf="editingFields['name']" (click)="saveField('name')" [disabled]="savingField['name'] || profileForm.get('name')?.invalid" title="Salvar">
              <mat-icon>check</mat-icon>
            </button>
          </div>

          <div class="field-row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" placeholder="seu@email.com">
              <mat-icon matPrefix>email</mat-icon>
              <mat-error *ngIf="profileForm.get('email')?.invalid">
                {{ getErrorMessage('email') }}
              </mat-error>
            </mat-form-field>
            <button mat-icon-button color="primary" type="button" *ngIf="!editingFields['email']" (click)="toggleEdit('email')" title="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" type="button" *ngIf="editingFields['email']" (click)="saveField('email')" [disabled]="savingField['email'] || profileForm.get('email')?.invalid" title="Salvar">
              <mat-icon>check</mat-icon>
            </button>
          </div>

          

          <div class="success-message" *ngIf="successMessage">
            <mat-icon>check_circle</mat-icon>
            {{ successMessage }}
          </div>

          <div class="error-message" *ngIf="errorMessage">
            <mat-icon>error</mat-icon>
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
